:root{
    --headerBackground: #00000057;
    --loginRegisterModalBackground: #222831f1;
    --backdropBackground: transparent;
    --authBtnColor: rgba(255, 255, 255, 0.632);
    --inputBorderColor: #000000c7;
    --logoColor: wheat;
    --authBorderColor: rgba(255,255,255,0.1);
    --footerBackgroundColor: #222831bd;
    --clockOval:rgb(175, 131, 131);
    --clockHr:#afc014a2;
    --clockMn:rgba(255, 255, 255, 0.682);
    --clockSc: rgba(255, 255, 255, 0.582);
}

