@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
:root {
  --headerBackground: #00000057;
  --loginRegisterModalBackground: #222831f1;
  --backdropBackground: transparent;
  --authBtnColor: rgba(255, 255, 255, 0.632);
  --inputBorderColor: #000000c7;
  --logoColor: wheat;
  --authBorderColor: rgba(255,255,255,0.1);
  --footerBackgroundColor: #222831bd;
  --clockOval:rgb(175, 131, 131);
  --clockHr:#afc014a2;
  --clockMn:rgba(255, 255, 255, 0.682);
  --clockSc: rgba(255, 255, 255, 0.582); }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes zoomIn {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }

@keyframes zoomInForLogin {
  0% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0); }
  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); } }

@keyframes moveInfadeIn {
  0% {
    top: 55%;
    opacity: 0; }
  100% {
    top: 50%;
    opacity: 1; } }

@keyframes moveToRight {
  from {
    left: -15%; }
  to {
    left: 0%; } }

@keyframes moveToLeftCars {
  from {
    left: 100%; }
  to {
    left: 0%; } }

@keyframes moveToLeft {
  from {
    right: -15%; }
  to {
    right: 0%; } }

@keyframes slideDown {
  form {
    height: 0; }
  to {
    height: 100%; } }

@keyframes scrollAnimation {
  0%, 100% {
    filter: hue-rotate(0deg); }
  50% {
    filter: hue-rotate(360deg); } }

@keyframes fadeInTo {
  0% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1); }
  100% {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0); } }

#LOGIN-BTN, #REGISTER-BTN, #LOGOUT {
  background-color: transparent;
  border: 1px solid var(--authBorderColor);
  color: var(--authBtnColor);
  cursor: pointer;
  backdrop-filter: blur(7px);
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  height: 100%;
  width: 100%;
  padding: 0.2rem 0.4rem;
  margin: 0.1rem 0.2rem;
  letter-spacing: 7px;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 4px; }
  @media (max-width: 767px) {
    #LOGIN-BTN, #REGISTER-BTN, #LOGOUT {
      width: 5rem;
      height: 2rem;
      font-size: 0.6rem;
      letter-spacing: 2px; } }

#CLOSE-BTN, #CLOSE-BTN-REG {
  float: right;
  margin-right: 0.8rem;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  color: wheat; }

#AUTH-BTNS {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

#AUTH-BTNS.show {
  display: flex;
  justify-content: end; }

#LOGIN-BTN-BTN, #REGISTER-BTN-BTN {
  background-color: transparent;
  border: 1px solid var(--authBorderColor);
  color: var(--authBtnColor);
  cursor: pointer;
  backdrop-filter: blur(7px);
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  margin-top: 1.7rem;
  padding: 0.4rem;
  font-size: 1rem;
  letter-spacing: 4px; }

#burgerBtn {
  display: none; }
  @media (max-width: 767px) {
    #burgerBtn {
      width: 35px;
      height: 35px;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 5px 5px;
      align-items: center;
      cursor: pointer; } }

#burgerBtn div {
  background-color: wheat;
  width: 70%;
  height: 2px; }

.burgerAuthBtn {
  display: none; }

.burgerAuthBtnActive {
  display: block; }

.filter-btn {
  margin-left: 1%;
  margin-bottom: 1%;
  background-color: transparent;
  backdrop-filter: blur(11px);
  color: #bcc6abd1;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 1px solid black;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation; }

.filter-btn:hover {
  box-shadow: rgba(90, 95, 92, 0.35) 0 -25px 18px -14px inset, rgba(142, 164, 151, 0.25) 0 1px 2px, rgba(99, 114, 105, 0.25) 0 2px 4px, rgba(151, 170, 158, 0.25) 0 4px 8px, rgba(117, 138, 125, 0.25) 0 8px 16px, rgba(121, 142, 129, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg); }

.cards {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  display: flex;
  justify-content: space-around;
  padding: 2% 0;
  border-radius: 3%;
  background-image: url(../../assets/backgrounds/cardBack.jpeg);
  background-blend-mode: soft-light;
  background-size: cover; }
  @media (max-width: 1500px) {
    .cards {
      padding: 2% 2%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr; } }
  @media (max-width: 1110px) {
    .cards {
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  @media (max-width: 767px) {
    .cards {
      border-radius: 0;
      padding: 2% 1.5%;
      display: flex;
      flex-direction: column; } }

.card-container {
  height: 500px;
  width: 350px;
  background-color: transparent;
  backdrop-filter: blur(1px);
  cursor: pointer;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: all 0.3s; }
  @media (max-width: 767px) {
    .card-container {
      display: flex;
      flex-direction: column;
      height: 500;
      width: auto; } }
  @media (max-width: 767px) {
    .card-container {
      margin: 1rem 0; } }

.card-container:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.544) 0px 4px 6px, rgba(0, 0, 0, 0.811) 0px 12px 13px, rgba(0, 0, 0, 0.45) 0px -3px 5px;
  transform: scale(1.06); }

.img {
  height: 70%;
  background-color: white; }

.img img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.car-des {
  display: flex;
  flex-direction: column;
  align-items: center; }

.car-des h1 {
  margin: 5px;
  font-size: 1.2rem;
  color: wheat;
  letter-spacing: 3px;
  font-weight: 700;
  transition: 0.3s; }

.car-des h1:hover {
  transform: scale(1.09); }

.car-des p {
  font-size: 0.8rem;
  padding: 0;
  margin: 4px;
  transition: 0.4s; }

.car-des p:hover {
  transform: scale(1.02);
  color: wheat; }

.car-des b {
  font-size: 1rem;
  padding: 0;
  margin: 0; }

.main-cars {
  padding: 2%;
  border-radius: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-image: url(../../assets/backgrounds/cardBack.jpeg);
  background-blend-mode: soft-light;
  background-size: cover;
  position: relative;
  animation: moveToLeftCars .7s linear  both; }
  @media (max-width: 1340px) {
    .main-cars {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  @media (max-width: 1140px) {
    .main-cars {
      grid-template-columns: 1fr 1fr 1fr; } }
  @media (max-width: 890px) {
    .main-cars {
      grid-template-columns: 1fr 1fr;
      padding-top: 10%; } }
  @media (max-width: 767px) {
    .main-cars {
      display: flex;
      flex-direction: column; } }

.carCards {
  height: 380px;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.35);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all .3s;
  cursor: pointer; }

.carCards:hover {
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.544) 0px 4px 6px, rgba(0, 0, 0, 0.811) 0px 12px 13px, rgba(0, 0, 0, 0.45) 0px -3px 5px;
  transform: scale(1.06); }

.car-img {
  height: 65%; }

.car-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 2px; }

.card-des {
  display: flex;
  flex-direction: column;
  align-items: center; }

.card-des h1 {
  margin: 4px;
  font-size: 1.3rem;
  color: wheat;
  letter-spacing: 6px;
  font-weight: 700;
  transition: 0.3s; }

.card-des h1:hover {
  transform: scale(1.09); }

.card-des p {
  font-size: 0.8rem;
  padding: 0;
  margin: 4px;
  transition: 0.4s; }

.card-des p:hover {
  transform: scale(1.02);
  color: wheat; }

.card-des b {
  font-size: 1rem;
  padding: 0;
  margin: 0; }

.btn button {
  background-color: transparent;
  border: 1px solid var(--authBorderColor);
  color: var(--authBtnColor);
  cursor: pointer;
  backdrop-filter: blur(7px);
  font-size: 1.2rem;
  height: 100%;
  width: 100%;
  margin: 2px; }

#LOGIN, #REGISTER {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset, rgba(0, 0, 0, 0.9) 0px 0px 0px 1px, rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  backdrop-filter: blur(13px);
  background-color: transparent;
  height: 20rem;
  width: 20rem;
  visibility: hidden;
  position: fixed; }

#REGISTER {
  height: 25rem !important;
  width: 25rem !important; }

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.login-name, .register-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  padding-bottom: 1rem;
  color: #bd964eeb; }

.login-input {
  padding: 0.3rem 0; }

.login-input label {
  font-size: 1rem;
  color: wheat; }

.login-input input {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  background: transparent;
  outline: none;
  border: 0.1rem solid var(--inputBorderColor); }

.forgot-pass a {
  font-size: 0.9rem; }

#invalid-password, #register-error {
  display: none;
  color: red;
  font-weight: 600;
  font-size: 0.8rem; }

#username-d {
  font-size: 1.2rem;
  color: wheat; }

#BACKDROP {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--backdropBackground);
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s; }

.sidebar {
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: wheat;
  transition: all .5s;
  backdrop-filter: blur(4px);
  background-color: #433a3a17; }

.sidebar-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.sidebar-div div input {
  margin: 5px; }

.sidebar h3 {
  font-size: 1.2rem;
  color: wheat; }

.hidden {
  left: -300px; }

.shown {
  left: 0; }

.sidebar-backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: var(--backdropBackground);
  top: 0;
  left: 0;
  visibility: hidden;
  transition: all .3s; }

.backdrop-hidden {
  visibility: hidden; }

.backdrop-shown {
  visibility: visible; }

.search-none {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  font-size: 1.6rem;
  color: wheat; }

.logo {
  padding-left: 2rem;
  width: 4rem;
  cursor: pointer;
  filter: contrast(0); }
  @media (max-width: 767px) {
    .logo {
      padding: 0 1rem; } }

@media (max-width: 767px) {
  .aLogo {
    padding: 0; } }

.flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1rem;
  visibility: hidden; }
  @media (max-width: 767px) {
    .flexbox {
      display: none; } }

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2); }

.search > div:after {
  content: "";
  background: white;
  width: 1px;
  height: 7px;
  position: absolute;
  top: 15px;
  transform: rotate(135deg); }

.search > div > input {
  color: white;
  background: transparent;
  width: 5px;
  height: 5px;
  padding: 5px;
  border: solid 1px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s; }

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out; }

.search > div > input:focus::placeholder {
  opacity: 1; }

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px; }

.clock {
  width: 5rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../assets/backgrounds/clock.svg);
  background-size: cover;
  border: 1px solid #0b1c258c;
  border-radius: 13%;
  cursor: pointer;
  filter: contrast(0); }

.clock:before {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  background: var(--clockOval);
  border-radius: 50%;
  z-index: 4; }

.clock .hour,
.clock .min,
.clock .sec {
  position: absolute; }

.clock .hour, .hr {
  width: 30px;
  height: 30px; }

.clock .min, .mn {
  width: 45px;
  height: 45px; }

.clock .sec, .sc {
  width: 60px;
  height: 60px; }

.hr, .mn, .sc {
  display: flex;
  justify-content: center;
  position: absolute;
  border-radius: 50%; }

.hr:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 10px;
  background: var(--clockHr);
  z-index: 1;
  border-radius: 6px 6px 0 0; }

.mn:before {
  content: '';
  position: absolute;
  width: 1.5px;
  height: 30px;
  background: var(--clockMn);
  z-index: 2;
  border-radius: 6px 6px 0 0; }

.sc:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 40px;
  background: var(--clockSc);
  z-index: 3;
  border-radius: 6px 6px 0 0; }

#FOOTER {
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: auto;
  backdrop-filter: blur(2px);
  background-image: url(../../assets/backgrounds/footer/footerBackground.jpg);
  background-size: 100vw;
  background-position: center;
  margin-top: 2%; }
  @media (max-width: 767px) {
    #FOOTER {
      background-image: none; } }

.footer-logo {
  width: 5rem;
  padding: 0;
  margin: 0; }

.contact-info p, b {
  font-size: 0.9rem;
  color: rgba(245, 222, 179, 0.42); }
  @media (max-width: 767px) {
    .contact-info p, b {
      font-size: 0.7rem; } }

#HOME {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh; }

#HEADER {
  padding: 0;
  background-color: var(--headerBackground);
  position: fixed;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  backdrop-filter: blur(7px);
  z-index: 10;
  animation: fadeIn 0.5s linear both; }
  @media (max-width: 767px) {
    #HEADER {
      padding: 0;
      margin: 0; } }

.header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  transition: .7s; }

.showModal {
  animation: zoomInForLogin .3s linear both;
  visibility: visible !important;
  z-index: 12; }

.showBackdrop {
  animation: fadeIn .3s linear both;
  visibility: visible !important;
  z-index: 11;
  opacity: 1; }

.closeAnimation {
  animation: fadeInTo .3s linear both; }

.auth-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.5%; }

.cart {
  padding: 1px;
  font-size: 2rem;
  color: gray;
  cursor: pointer;
  position: relative;
  padding-right: 5%; }

.cartNumber {
  position: absolute;
  font-size: 0.7rem;
  color: #f9ff00fc;
  top: -7px;
  left: -10%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3c46368a;
  display: flex;
  align-items: center;
  justify-content: center; }

.main-navigation {
  display: flex;
  margin-left: 5rem; }
  @media (max-width: 1025px) {
    .main-navigation {
      margin-left: 0; } }
  @media (max-width: 767px) {
    .main-navigation {
      position: fixed;
      right: 100%;
      top: 100%;
      width: 100%;
      margin: 0;
      flex-direction: column;
      background: #121211b9;
      backdrop-filter: blur(7px);
      text-align: center;
      transition: all .5s; } }

.activeBurger {
  right: 0; }

@media (max-width: 767px) {
  .main-navigation.show {
    display: flex; } }

.main-navigation li, a {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  padding: 0 0.4rem;
  font-size: 1.2rem;
  color: rgba(202, 182, 145, 0.865);
  transition: 0.2s; }
  @media (max-width: 767px) {
    .main-navigation li, a {
      padding: 1rem; } }

.main-navigation li:hover {
  color: rgba(245, 245, 245, 0.857);
  text-shadow: 0 0 1px rgba(245, 245, 245, 0.846);
  transform: scale(1.02); }

#ABOUT {
  padding-top: 5%;
  animation: fadeIn 3s linear both; }
  @media (max-width: 1320px) {
    #ABOUT {
      padding-top: 7%; } }
  @media (max-width: 1050px) {
    #ABOUT {
      padding-top: 9%; } }
  @media (max-width: 767px) {
    #ABOUT {
      padding-top: 10%; } }
  @media (max-width: 590px) {
    #ABOUT {
      padding-top: 12%; } }
  @media (max-width: 480px) {
    #ABOUT {
      padding-top: 14%; } }
  @media (max-width: 390px) {
    #ABOUT {
      padding-top: 16%; } }

.about-pic {
  width: 100vw;
  height: 55vh; }

.about-pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(1.5px);
  transition: 0.7s;
  cursor: pointer; }

.about-pic img:hover {
  filter: blur(0px); }

#ABOUT p {
  color: rgba(202, 182, 145, 0.952);
  font-size: 1.2rem;
  margin: 2rem 4rem;
  cursor: pointer;
  transition: .3s; }

#ABOUT p:hover {
  transform: scale(1.03);
  color: rgba(202, 182, 145, 0.865); }

#CARD {
  padding-top: 5%;
  padding-bottom: 20%; }
  @media (max-width: 1320px) {
    #CARD {
      padding-top: 7%; } }
  @media (max-width: 1050px) {
    #CARD {
      padding-top: 9%; } }
  @media (max-width: 767px) {
    #CARD {
      padding-top: 10%; } }
  @media (max-width: 590px) {
    #CARD {
      padding-top: 12%; } }
  @media (max-width: 480px) {
    #CARD {
      padding-top: 14%; } }
  @media (max-width: 390px) {
    #CARD {
      padding-top: 16%; } }

.carts {
  display: flex;
  align-items: center;
  border: 1px solid black;
  width: 70vw; }

.carts div {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-right: 1%; }
  @media (max-width: 767px) {
    .carts div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column; } }

.carts span {
  margin: 0 5%;
  padding: 5px;
  border-radius: 5%;
  background-color: rgba(70, 68, 63, 0.241); }

.cart-container {
  margin: 1rem 0;
  padding: 0.5rem;
  border: 1px solid black;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset; }

#CART div {
  height: 20vh;
  width: 70vw; }
  @media (max-width: 767px) {
    #CART div {
      width: 100%; } }

#CART div div img {
  height: 100%; }

#CART div div span {
  font-size: 1.6rem; }

.removeBtn {
  margin-left: 10%; }

.totPrice {
  font-size: 1.2rem;
  color: wheat;
  padding-left: 1%; }

.emptyCart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: wheat; }

#CARS {
  padding-top: 5%; }
  @media (max-width: 1320px) {
    #CARS {
      padding-top: 7%; } }
  @media (max-width: 1050px) {
    #CARS {
      padding-top: 9%; } }
  @media (max-width: 767px) {
    #CARS {
      padding-top: 10%; } }
  @media (max-width: 590px) {
    #CARS {
      padding-top: 12%; } }
  @media (max-width: 480px) {
    #CARS {
      padding-top: 14%; } }
  @media (max-width: 390px) {
    #CARS {
      padding-top: 16%; } }

#PAGENATION {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: wheat;
  cursor: pointer;
  margin: 1.3rem 0; }

#PAGENATION li {
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  transition: .3s;
  user-select: none; }

.visible {
  visibility: visible; }

.active {
  background-color: rgba(96, 96, 212, 0.622);
  border: 1px solid rgba(115, 104, 104, 0.748); }

.pagenation li a {
  transition: .3s;
  color: rgba(245, 222, 179, 0.534);
  -webkit-user-select: none; }

.disabled {
  background-color: rgba(202, 188, 162, 0.115);
  border: 1px solid rgba(115, 104, 104, 0.748); }

#CONTACT {
  padding-top: 5%; }
  @media (max-width: 1320px) {
    #CONTACT {
      padding-top: 7%; } }
  @media (max-width: 1050px) {
    #CONTACT {
      padding-top: 9%; } }
  @media (max-width: 767px) {
    #CONTACT {
      padding-top: 10%; } }
  @media (max-width: 590px) {
    #CONTACT {
      padding-top: 12%; } }
  @media (max-width: 480px) {
    #CONTACT {
      padding-top: 14%; } }
  @media (max-width: 390px) {
    #CONTACT {
      padding-top: 16%; } }
  @media (max-width: 390px) {
    #CONTACT {
      padding-top: 19%; } }

@media (max-width: 767px) {
  .googleMap {
    width: 100vw; } }

.contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  @media (max-width: 920px) {
    .contact {
      display: flex;
      flex-direction: column; } }

.contact-info-2 {
  position: relative;
  font-size: 3rem;
  text-align: center;
  color: rgba(250, 235, 215, 0.616);
  cursor: pointer;
  transition: 0.3s;
  animation: moveToLeft 2s forwards; }

.contact-info-2:hover {
  transform: scale(1.1);
  color: rgba(90, 190, 90, 0.84); }

.contact-info-2 b {
  font-size: 1.3rem; }

.contact-info-2 p {
  font-size: 1.1rem; }

.map {
  position: relative;
  animation: moveToRight 2s forwards; }

#SLIDER {
  display: flex;
  position: relative;
  width: 100vw;
  height: 70vh;
  animation: zoomIn .7s linear both; }

.sliderH1 h1 {
  margin: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: rgba(206, 211, 178, 0.814);
  letter-spacing: 6px;
  font-weight: 700;
  animation: fadeIn .7s linear .7s both;
  transition: 0.3s;
  cursor: pointer; }

.sliderH1 h1:hover {
  transform: scale(1.07);
  color: wheat; }

.pt {
  padding-top: 1%;
  padding-bottom: 1%; }

#slider {
  width: 100vw;
  height: 70vh; }

#slider a {
  overflow: hidden;
  display: block;
  height: 70vh; }

#slider img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

#slider h1 {
  font-size: 1.2rem;
  position: absolute;
  left: 45%;
  BOTTOM: -3%;
  transition: 0.3s; }

#slider h1:hover {
  transform: scale(1.05);
  color: wheat; }

#left, #right {
  display: flex;
  align-items: center;
  font-size: 2rem;
  position: absolute;
  color: wheat;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  padding: 4px 10px;
  transition: 0.3s; }

#left:hover {
  transform: scale(1.2);
  color: rgba(255, 235, 205, 0.742); }

#right:hover {
  transform: scale(1.2);
  color: rgba(255, 235, 205, 0.742); }

#left img {
  width: 40px; }

#right img {
  width: 40px; }

#left {
  top: 50%;
  left: 3%; }

#right {
  top: 50%;
  right: 3%; }

#CONTENT {
  padding-top: 5%; }
  @media (max-width: 1320px) {
    #CONTENT {
      padding-top: 7%; } }
  @media (max-width: 1050px) {
    #CONTENT {
      padding-top: 9%; } }
  @media (max-width: 767px) {
    #CONTENT {
      padding-top: 10%; } }
  @media (max-width: 590px) {
    #CONTENT {
      padding-top: 12%; } }
  @media (max-width: 480px) {
    #CONTENT {
      padding-top: 14%; } }
  @media (max-width: 390px) {
    #CONTENT {
      padding-top: 16%; } }

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(192, 171, 171, 0.75), rgba(0, 0, 0, 0)); }

.user-info {
  padding-top: 5%;
  height: 600px; }
  @media (max-width: 1320px) {
    .user-info {
      padding-top: 7%; } }
  @media (max-width: 1050px) {
    .user-info {
      padding-top: 9%; } }
  @media (max-width: 767px) {
    .user-info {
      padding-top: 10%; } }
  @media (max-width: 590px) {
    .user-info {
      padding-top: 12%; } }
  @media (max-width: 480px) {
    .user-info {
      padding-top: 14%; } }
  @media (max-width: 390px) {
    .user-info {
      padding-top: 16%; } }

#profile-username {
  font-size: 3rem;
  color: wheat; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  font-family: 'Lato', sans-serif;
  background-image: url(../../assets/backgrounds/body/bodyBackground.jpeg);
  background-blend-mode: soft-light;
  background-size: cover; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }
