#CARS{
    @include mainPaddingTop;
}
#PAGENATION{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: rgb(245, 222, 179);
    cursor: pointer;
    margin: 1.3rem 0;
}
#PAGENATION li{
    @include textDecNone;
    transition: .3s;
    user-select: none; 
}
.visible{
    visibility: visible;
}
.active{
    background-color: rgba(96, 96, 212, 0.622);
    border: 1px solid rgba(115, 104, 104, 0.748);
}
.pagenation li a{
    transition: .3s;
    color: rgba(245, 222, 179, 0.534);
    -webkit-user-select: none;
    
}
.disabled{
    background-color: rgba(202, 188, 162, 0.115);
    border: 1px solid rgba(115, 104, 104, 0.748);
}
