#SLIDER{
    display: flex;
    position: relative;
    width: 100vw;
    height: 70vh;   
    animation: zoomIn .7s linear both;
}
.sliderH1 h1{
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: rgba(206, 211, 178, 0.814);
    letter-spacing: 6px;
    font-weight: 700;
    animation: fadeIn .7s linear .7s both;
    transition: 0.3s;
    cursor: pointer;
}
.sliderH1 h1:hover{
    transform: scale(1.07);
    color: wheat;
}
.pt{
    padding-top: 1%;
    padding-bottom: 1%;
}
#slider{
    width: 100vw;
    height: 70vh;
    
}
#slider a{
    overflow: hidden;
    display: block;
    height: 70vh;
}
#slider img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#slider h1{
    font-size: 1.2rem;
    position: absolute;
    left: 45%;
    BOTTOM: -3%;
    transition: 0.3s;
}
#slider h1:hover{
    transform: scale(1.05);
    color: wheat;
}
#left , #right {
    display: flex;
    align-items: center;
    font-size: 2rem;
    position: absolute;
    color: wheat;
    cursor: pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    padding: 4px 10px;
    transition: 0.3s;
}
#left:hover{
    transform: scale(1.2);
    color: rgba(255, 235, 205, 0.742);
}
#right:hover{
    transform: scale(1.2);
    color: rgba(255, 235, 205, 0.742);
}
#left img{
    width: 40px;
}
#right img{
    width: 40px;
}
#left {
    top: 50%;
    left: 3%;
    
}
#right{
    top: 50%;
    right: 3%;
    
}


#CONTENT{
    @include mainPaddingTop;
}



hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(192, 171, 171, 0.75), rgba(0, 0, 0, 0));
}